* { margin: 0; padding: 0; }

html {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
  background-color: hsl(351.1,33.3%,72.4%);
}

header {
  margin: 50px;
  font-size: 2rem;
}

header p {
  font-family: 'Open Sans', sans-serif;
}

/* display style rules */
.display-container {
  background-color: hsl(0, 0%, 100%);
  width: 400px; height: 400px;
  position: relative; left: 50%; top: 150px;
}

.screen {
  width: 300px;
  height: 250px;
  position: absolute; right: 3%; bottom: 0;
  text-align: right; padding: 30px;
}

.values {
  font-size: 2.8rem;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 30%);
  overflow: auto;
}

.result {
  font-size: 6rem;
  font-weight: bold;
  color: hsl(351, 33.6%, 57.5%);
}

/* key style rules */
.keys-container {
  background-color: hsl(0, 0%, 3%);
  width: 280px;
  height: 250px;
  position: relative;
  left: 30%; top: -180px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

}


button {
  width: 50px; height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin: 3px;
}

.numbers > button {
  background-color: hsla(0, 0%, 95%, .85);
}
.operators > button {
  background-color: hsla(351.1, 33.3%, 72.4%, .9);
}

.numbers > button:hover {
  background-color: hsla(0, 0%, 100%, 1);
}

.operators > button:hover {
  background-color: hsla(351, 33.6%, 57.5%, 1);
}

.pressed {
  color: hsl(351, 33.6%, 57.5%);
}

#submit {
  background-color: hsl(351, 33.6%, 57.5%, .85);
  color: hsl(0, 0%, 100%);
}

#submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(351, 33.6%, 57.5%);
